*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
/*主题部分*/
#content{
	width: 100%;
	height: 100%;
	overflow: hidden;	
	position: absolute;
}
.content-wrap{
		position: relative;
}
.content-wrap >li{
	background-color: #CAE1FF;
	color:red;
	float:left;
	overflow: hidden;
	position: relative;
}
/*小男孩*/
.charector{
	position: absolute;
	left: 6%;
	top:55%;
	width: 151px;
	height: 291px;
	background: url(.././images/boy.png) 0px -291px no-repeat;		
}
