/*all Tag*/
*{
	padding: 0;
	margin: 0;
	border:0;
	list-style: none;
	text-decoration:none;
	font-size: 1.3rem;
	font-style:"Microsoft Yahei";
}
.button{
	padding:0.5952vw 1.1904vw;
	border-radius: 10%;
}
html,body{
	width: 100%;
	height: 100%;
}
/*fullpage*/
#fp-nav ul li a span{
	background-color: #fff;
}
/*common*/
.clear_float{
	clear: both;
}
/*header*/
#header{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 50px;
	line-height: 50px;
	background:black;
	opacity: .8;
	z-index: 9;
}
#header > h1{
	font-size: 1.8rem;
	float: left;
	margin-left: 20px;
}
#header > h1 > a{
	color:#fff;
}
#header > #nav{
	float: right;
	margin-right: 20px;
}
.special > .menuToggle{
	font-size: 1.8rem;
	color:#fff;
	height: 50px;
	display: inline-block;
}
#nav .special{
	display: inline-block;
	margin-right: 30px;
}
/*content*/
.wrapper{
	width: 100%;
	height: 100%;
}
.wrapper .inner{
	padding-top: 50px;
}
/*one*/
#one{
	background:url("../img/one_bg.jpg") no-repeat center center;
	background-size: 100%;
	z-index: 1;
}
#one:before{
	position: absolute;
	content: "";
	top:0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-size: 100%;
	opacity: .3;
}
#one > .inner{
	position: absolute;
	top:30%;
	width: 100vw;
	text-align: center;
	color:#fff;
}
#one .inner > h2{
	margin: auto;
	padding: 20px 0;
	width: 150px;
	font-size: 30px;
	font-weight: bold;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#one .inner > p{
	margin:40px auto 100px;
}
.actions  a{
	background-color: red;
	color:#fff;
}
/*tow*/
#two{
	background-color: #1cb57b;
}
#two .inner h1{
	width: 60%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 2em;
	text-align: center;
	border-bottom: 3px solid #bbb9b9;
}
#two .inner h2{
	text-align: center;
	margin-top: 20px;
}
#two .inner .list{
	width: 1000px;
	margin: 50px auto 0;
}
#two .inner .list li{
	float:left;
	width:200px;
	height: 200px;
	text-align: center;
}
#two .inner .list li span{
	 position: relative;
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	margin:20px auto 50px;
	text-align: center;
}
#two .inner .list li span:before{
	position: absolute;
	content: '';
	top: -1px;
	left: -1px;
	/*margin: auto;*/
	width: 100%;
	height: 100%;
	border:2px solid rgb(70, 108, 140);

	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	
	-moz-transform:rotate(45deg); 	
	-webkit-transform:rotate(45deg); 
	-o-transform:rotate(45deg); 
}
#two .inner .list li span i{
	text-align: center;
	font-size: 40px;
	color: #fff;
}
/*three*/
#three{
	background-color: #611e61;
}
#three .inner h1{
	font-size: 1.8em;
	text-align: center;
	width: 50%;
	border-bottom: 3px solid #fff;
	margin: 50px auto 20px;
	padding-bottom: 20px;
	color:#fff;
}
#three .inner h2{
	width: 50%;
	margin:auto;
	text-align: center;
	color:#fff;
	font-size: 1em;
}
#three .inner .list{
	width: 70%;
	margin:50px auto 300px;
}
#three .inner .list li{
	width: 50%;
	height: 300px;
	float: left;
	overflow: hidden;
}
#three .inner .list li p:first-of-type{
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	font-weight: bold;
	color:#fff;
}
#three .inner .list li p:last-of-type{
	color: #fff;
	text-indent: 30px;
	width:80%;
	height: 180px;
	margin:auto;
	overflow: hidden;
}
#three .inner .list li p i{
	color:#0bfb0b;
	margin:auto 30px;
}
/*four*/
#four{
	background-color: rgba(0,0,0,0.8);
}
#four .inner{
	color:#fff;
}
#four .inner h1{
	width: 50%;
	margin: 50px auto 20px;
	text-align: center;
	font-size: 1.5em;
	border-bottom:3px #fff solid;
	padding-bottom: 20px;
}
#four .inner h2{
	width:50%;
	margin: 20px auto;
	text-align: center;
}