/*all Tag*/
*{
	padding: 0;
	margin: 0;
	border:0;
	list-style: none;
	text-decoration:none;
}
html,body{
	width: 100%;
	height: 100%;
}
/*fullpage*/
#fp-nav ul li a span{
	background-color: #fff;
}
/*common*/
.clear-float{
	clear: both;
}
/*header*/
.navbar-inverse .navbar-brand{
	color:#fff;
	font-size: 1.5em;
	font-weight: bold;
}	
.navbar-inverse .navbar-nav>li>a{
	color:#fff;
	font-size: 1.2em;
}
.navbar-collapse .navbar-nav li{
	background-color: #2b2b2b;
}
/*content*/
.wrapper{
	width: 100%;
	height: 100%;
}
.wrapper .inner{
	padding-top: 50px;
	color:#fff;
	margin-bottom: 200px;
	text-align: center;
}
.wrapper .inner h1{
	font-size: 2.5em;
	border-bottom:3px #fff solid;
	padding-bottom: 20px;
} 
.wrapper .inner .lead{
	padding-left: 20px;
	padding-right: 20px;
}
/*one*/
#one{
	width: 100%;
	height: 100%;
	background:url("../img/one_bg.jpg") repeat-y;
	background-size: 100%;
	z-index: 1;
}
#one:before{
	position: absolute;
	content: "";
	top:0;
	width: 100%;
	height: 100%;
	background-color: black;
	background-size: 100%;
	opacity: .3;
}
#one > .inner{
	position: absolute;
	top:20%;
	text-align: center;
	color:#fff;
}
#one >.inner h1{
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	color:#fff;
	margin-bottom: 50px;
}
#one >.inner .lead{
	font-size: 1.5em;
}
.actions{
	display: none;
	margin-top: 100px;
}
.actions  a{
	background-color: red;
	color:#fff;
}
/*tow*/
#two{
	background-color: #1cb57b;
}
#two .inner .list ul{
	padding: 0px;
}
#two .inner .list li{
	margin-bottom: 50px;
	text-align: center;
}
#two .inner .list li .icon{
	text-align: center;
	vertical-align: middle;
	margin-bottom: 30px;
	margin-top: 20px;
}
#two .inner .list li .icon:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:auto;
	width: 100%;
	height: 100%;
	border:4px solid rgb(70, 108, 140);
	border-radius: 5px;

	/* transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	
	-moz-transform:rotate(45deg); 	
	-webkit-transform:rotate(45deg); 
	-o-transform:rotate(45deg); */
}
#two .inner .list li .icon i{
	text-align: center;
	font-size: 2em;
	color: #fff;
	vertical-align: middle;
}
#two .inner .list li a:last-of-type{
	color:#fff;
	font-size: 1.5em;
	word-break:keep-all;
}
#two .inner .list li a:hover{
	text-decoration: none;
}
/*three*/
#three{
	background-color: #611e61;
}
#three .inner .list li{
	height: 250px;
	text-align: left;
}
#three .inner .list li p:first-of-type{
	height: 3em;
	line-height: 3em;
	font-size: 2em;
	font-weight: bold;
	color:#fff;
	overflow: hidden;
}
#three .inner .list li p:last-of-type{
	color: #fff;
	font-size: 1.5em;
	text-indent: 3em;
	height: 180px;
	overflow: hidden;
}
#three .inner .list li p i{
	color:#0bfb0b;
	margin:auto 30px;
}
/*four*/
#four{
	background-color: rgba(0,0,0,0.8);
}
#four .inner{
	color:#fff;
}